################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/teste-desenvolvedor-net/FileContentIndex/3be14455-8f1b-4107-9519-b465e572b07a.vsidx
